body {
   width: 900px;
   margin: 10px auto;
   padding: 10px 20px 10px;
   border: 2px solid black;
   font-family: 'Roboto', sans-serif;
   background-image: url(img/04.jpg);
   background-size: cover;
}

hr {
   border: 2px solid;
}

.separetion_line {
   width: 100px;
   height: 6px;
   border: 0;
   background-color: rgb(152, 39, 39);
}

.avatar {
 width: 200px;
 border-radius: 400px;
}

header {
   width: 900px;
   text-align: center;
   margin: 10px auto;
   
}

section {
   width: 850px;
   border: 1px solid black;
   background-color: rgba(128, 128, 128, 0.134);
   padding: 10px;
   margin: 10px auto;
   
}

.countries {
   width: 150px;
   height: 150px;
   overflow: scroll;
   border: 1px solid black;
   background: #ffffff;
}

.photo {
   width: 250px;
}

.block {
   display: inline-block;
}

.img-icon {
   width: 20px;
}

.education__title-list-icon {
   height: 40px;
}
